@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #31688d , #31688d, #6657a1);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 

}
 main{
  height: 100vh;
 }

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 2em;
}


/*------------------------------------------------------ NavBar -------------------------------------------------------- */

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
}

a:hover {
  border-bottom: none;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid gold;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  border: rgba(255, 255, 255, 0.182) 5px solid;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

.menu {
  list-style: none;
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu li {
  margin-right: 20px;
}

.menu a:hover {
  color: gold;
}


.bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.4s;
}

.logo img {
  height: 50px;
}

.logo {
  margin-right: 30px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.logo {
  margin-right: 15px;
}



/* Mobile */
@media screen and (max-width: 475px) {
  .navbar {
      padding: 5px;
      
  }
  .menu-toggle {
      display: block;
     margin-right: 2rem;
  }
}

/* Mobile  S */
@media screen and (min-width: 361px) and (max-width: 607px) {
  .navbar {
      padding: 10px;
  }
  .menu-toggle {
      display: block;
  }
}

/* Mobile L*/
@media screen and (min-width: 668px) and (max-width: 720px) {
  .navbar {
      padding: 10px;
  }
  .menu-toggle {
      display: block;
      margin-right: 10rem;
  }
}

/* Tablets */

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }
  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
  }

  .menu.open {
      display: flex;
  }

  .menu-toggle {
      display: block;
      cursor: pointer;
      margin-right: 2rem;
  }
}
@media (max-width: 768px){
  .menu-toggle {
    display: block;
    cursor: pointer;
    margin-right: 0.5rem;
}
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  .navbar {
      padding: 10px 20px;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .navbar {
      padding: 10px 20px;
  }
}


@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .navbar {
      padding: 10px 20px;
  }
}


@media screen and (min-width: 1921px) {
  .navbar {
      padding: 10px 20px;
  }
}


/*------------------------------------------------------ Accueil -------------------------------------------------------- */
#accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left, #31688d, #6657a1);
  color: #aeff00;
  text-align: center;
  flex-direction: column;
} 
#accueil h1{
  color: #ffffff;
}
.accueil-content {
  max-width: 100%;
}
.acceuil-section {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  animation: apparitionTexte 3s forwards;
  background: url('../../public/media/home-bgi.jpg') no-repeat;
  background-size: cover;
  font-size: 1.5em;
}

.acceuil-section:hover {
  transform: scale(0.95);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.typed-cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: #000;
  animation: blinkCursor 1s step-end infinite;
}

@keyframes blinkCursor {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.content_acc {
  color: #fff;
  text-align: center;
  background-size: cover;
  height: 100vh;
  font-size: 1.5em;
}

.roll-button {
  border: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s;
}

.roll-button:hover {
  background-color: gold;
}

.text_accueil {
  color: #f3900ec7;
}

@keyframes apparitionTexte {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* iPhone */
@media screen and (min-width: 375px) and (max-width: 812px) {
  .acceuil-section {
    height: 100vh;
    padding: 20px;
  }
}



/* Tablets and larger screens */
@media (max-width: 768px) {
  .acceuil-section {
    height: 100vh;
    padding: 20px;
  }
}




/*---------------------------------------------------- A propos ------------------------------------------------*/

.content_apropos {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left, #31688d, #6657a1);
  color: #fff;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}

.photos-p {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.photos-p img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.photos-p img:hover {
  transform: scale(1.1);
}

.photo-profil img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  border: 4px solid #fff;
  transition: all 0.3s ease-in-out;
}

.photo-profil img:hover {
  transform: rotate(360deg);
}

.apropos-section {
  max-width: 800px;
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apropos-section p {
  max-width: 60%;
  line-height: 1.6;
}

.apropos-section a {
  color: #f1f1f1da;
}

.apropos-section a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .apropos-section {
    flex-direction: column;
    text-align: center;
  }

  .apropos-section p {
    max-width: 100%;
  }

  .content_apropos {
    width: 100%;
    padding: 0.75rem;
  }
}

@media (max-width: 768px) {
  .apropos-section {
    padding: 30px;
     margin-left: 1.5rem;
  }

  /* .content_apropos {
    padding: 1rem;
  } */
  
}


/*------------------------------------------------------ Compétences -------------------------------------------------------- */

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff; 
}

li {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff; 
}

ul {
  list-style-type: none;
  padding: 0;
}


.content {
  margin-left: 6rem;
}

.content ul {
  flex-direction: column;
  align-items: center;
}


.competences-section {
  display: flex;
  justify-content: space-between;
}

.content_competences {
  color: #fff;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 10px;
}


.skills-category {
  flex: 1;
  margin-right: 20px;
}

.skills-category h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #406493;
}

.skills-category ul {
  list-style-type: none;
  padding: 0;
}

.skills-category li {
  font-size: 16px;
  margin-bottom: 8px;
}

#bar_front {
  flex: 2;
  margin-left: 6rem;
  margin-right: 3rem;
}

#bar_front>div {
  margin-bottom: 30px;
}

#bar_front p {
  font-size: 24px;
  margin-bottom: 10px;
}

#bar_front label {
  font-size: 18px;
  margin-bottom: 8px;
  color: #eeeeee;
}


.progress-container {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background-color: #10131a; 
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 50%; 
  background: linear-gradient(to right, #00fd8b, #0eabf3, #0e84f3);
  transition: width 1s; 
}




progress {
  width: 100%;
  height: 10px;
  border: 1px solid #6effb7;
  border-radius: 5px;
  background-color: #10131a; 
}

progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #00fd8b, #0eabf3, #0e84f3);
}


.roll-button {
  background-color: goldenrod; 
  box-shadow: #343434b2 2px 2px 1px;
  color: #10131a;
  padding: 15px 10px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 3rem;
}

.content .roll-button:hover {
  background-color: gold;
}


@media (max-width: 768px) {
  .content,
  #bar_front {
    margin-left: 0;
    margin-right: 0;
  }

  .competences-section {
    flex-direction: column;
  }

  .skills-category,
  #bar_front {
    margin-right: 0;
  }

  .content_competences {
    height: auto;
  }

  h1 {
    font-size: 24px;
  }

  h2, label {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .content,
  #bar_front {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .content ul {
    align-items: flex-start;
  }

  .content_competences {
    padding: 1rem;
  }
}


/*------------------------------------------------------ Portfolio -------------------------------------------------------- */

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1rem;
  transition: all 0.3s ease;
}
.content-project{
  margin-bottom: 1rem;
  margin-left: 2rem;
}


.project-card {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  color: #e9e9e9;
}
.project-card:hover {
  transform: translateY(-5px);
}
.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease-in-out;

}
.project-card:hover img {
  transform: scale(1.1);
}

.project-details {
  background-color: #0908086a;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 80%;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.project-details img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.project-details img:hover {
  transform: scale(1.1);
}
.project-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.project-details h2 {
  color: #fffefe;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.project-details p {
  color: #333;
  line-height: 1.6;
  padding: 0.5rem;
  background-color: #f0f0f0;
  max-width: 100%;
  border-radius: 8px;
}


.btn-portfolio {
  margin-top: 0.5rem;
  background: gold;
  box-shadow: #343434b2 2px 2px 1px;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 80%;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-container button {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #3498db;
}
.button-container button:hover {
  background-color: #217dbb;
}



.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Ajoutez cet effet de flou sur le fond */
}
.modal-content {
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

#close, .close-btn{
  margin-left: 16em;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .project-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .btn-portfolio {
    width: 200px;
  }
  .project-details img {
    width: 95%; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #close, .close-btn{
    margin-left: 40em;
}
}

/* Desktops */
@media (min-width: 1024px) {
  .project-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .project-card img {
    height: 200px;
  }

  .project-details img {
    width: 45%;
  }

  .project-details p {
    max-width: 500px;
  }

  .btn-portfolio {
    width: 100px;
  }
  #close, .close-btn{
      margin-left: 56em;
  }
  .content-project {
    margin-bottom: 1rem;
    margin-left: 2rem;
    height: 100vh;
  }
  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .close-btn{
    margin-left: 56em;
  }
}

@media (min-width: 1440px){
#close, .close-btn {
    margin-left: 82em;}
}
/*------------------------------------------------------ Formulaire -------------------------------------------------------- */

.container-form {
  background: linear-gradient(to left, #31688d, #6657a1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.container {
  text-align: center;
  animation: fadeIn 1s ease;
  margin-top: auto;
  margin-bottom: 0;
}

.bg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#contact-form {
  background-color: rgba(255, 255, 255, 0.203);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px; 
  width: 100%;
  transition: all 0.3s ease;
}

#contact-form:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.foot_form {
  margin-top: -20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: background 0.3s ease, border 0.3s ease;
}

input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #45a049;
}

button {
  background: gold;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #a04e45;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* Mobile */
@media (max-width: 480px) {
  #contact-form {
    max-width: 100%;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1023px) {
  #contact-form {
    max-width: 80%;
  }
}

/* Desktops */
@media (min-width: 1024px) {
  #contact-form {
    width: 500px;
  }
}



/*------------------------------------------------------ Footer -------------------------------------------------------- */
footer {
  text-align: center;
  background-color: #333;
  padding: 1.5rem;     
  width: 100%;
}

footer img {
  width: 5.5em;
  height: auto;
  transition: all 0.2s ease-in-out;
}

footer img:hover {
  width: 5.7em;
  height: auto;
}

#copyright {
  text-decoration: underline;
  margin-top: 1rem;
}

.foot_form {
  text-align: center;
  padding: 20px;
}

.foot-icon a {
  margin-right: 1rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer img {
    width: 5em;
  }
}

@media (max-width: 767px) {
  footer img {
    width: 4em;
  }
}

@media (max-width: 475px) {
  footer {
    width: 108%;
  }
}
